@model Cantina_agil.Models.Atendente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<div>
    <h4>Atendentes</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <label class="label-control">Nome:</label> @Html.DisplayFor(model => model.nomeAtendente)
        </dd>


        <hr>

        <dd>
            <label class="label-control">Login:</label> </dt>@Html.DisplayFor(model => model.loginAtendente)
        </dd>

        <hr>

        <dd>
            <label class="label-control">Senha:</label></dt> @Html.DisplayFor(model => model.senhaAtendente)
        </dd>

        <hr>

        <dd>
            <label class="label-control">E-mail:</label></dt> @Html.DisplayFor(model => model.emailAtendente)
        </dd>

        <hr>

        <dd>
            <label class="label-control">CPF:</label> </dt> @Html.DisplayFor(model => model.cpf)
        </dd>
        <hr>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <h3>Tem certeza que deseja Deletar?</h3>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <a href=@Url.Action("Index","Atendentes") class="btn btn-primary" data-toggle="button">
                Voltar para Lista
            </a> 
        </div>
    }
</div>