@model Cantina_agil.Models.Atendente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Atendente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeAtendente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeAtendente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loginAtendente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loginAtendente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senhaAtendente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senhaAtendente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailAtendente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailAtendente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ativoAtendente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativoAtendente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAtendente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
