@model Cantina_agil.Models.Atendente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Atendentes</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dd>
            <label class="label-control">Nome:</label> @Html.DisplayFor(model => model.nomeAtendente)
        </dd>

        
            <hr>

        <dd>
            <label class="label-control">Login:</label> </dt>@Html.DisplayFor(model => model.loginAtendente)
        </dd>

            <hr>

        <dd>
            <label class="label-control">Senha:</label></dt> @Html.DisplayFor(model => model.senhaAtendente)
        </dd>

        <hr>

        <dd>
            <label class="label-control">E-mail:</label></dt> @Html.DisplayFor(model => model.emailAtendente)
        </dd>

        <hr>

        <dd>
            <label class="label-control">CPF:</label> </dt> @Html.DisplayFor(model => model.cpf)
        </dd>
        <hr>
    </dl>
</div>
<p>
    <a href=@Url.Action("Edit","Atendentes", new { id = Model.idAtendente }) class="btn btn-primary" data-toggle="button" >
        Editar
    </a> 
    <a href=@Url.Action("Index", "Atendentes") class="btn btn-primary" data-toggle="button">
        Voltar para Lista
    </a> 
 
</p>
