@model IEnumerable<Teste3.Models.Atendente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeAtendente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loginAtendente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senhaAtendente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailAtendente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativoAtendente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomeAtendente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loginAtendente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senhaAtendente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailAtendente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ativoAtendente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAtendente }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAtendente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAtendente })
        </td>
    </tr>
}

</table>
