@model Cantina_agil.Models.Produto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criando...</h2>
<head>
    <link href="~/Content/formatationCadastrar.css" rel="stylesheet" />
</head>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()


    <div class="Image">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image">
                            <img class="img" src="~/Image/atendente.png" />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Criar" class="btn btn-primary" />
                                    <a href=@Url.Action("Index", "Atendentes") class="btn btn-primary" data-toggle="button">
                                        Voltar para Lista
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Crie sua Conta!</h1>
                                </div>
                                <form class="user">
                                    <h4>Produtos</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0 row esquerda">

                                            <div class="form-group">
                                               
                                                    <label>Nome</label>
                                                    @Html.EditorFor(model => model.nomeProduto, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.nomeProduto, "", new { @class = "text-danger" })
                                               
                                                    <label>Valor</label>
                                                    @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.valor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="js/sb-admin-2.min.js"></script>
    </div>
}
