@model IEnumerable<Cantina_agil.Models.CommonProdutoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produtos</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="post" action=@Url.Action("Index","Produtos")>

    <input type="number" name="codigo" placeholder="Código" />
    <input type="text" name="nome" placeholder="Nome Produto" />
    <input type="number" step="any" name="valorMin" placeholder="Valor Mínimo" />
    <input type="number" step="any" name="valorMax" placeholder="Valor Máximo" />
    <input id="deletado" type="checkbox" name="deletado" value="true" /><label>Mostrar Deletados</label>
    <input type="submit" value="Pesquisar" />
</form>

<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Nome do Produto
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produtos.SingleOrDefault().valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idProduto }) |
                @Html.ActionLink("Details", "Details", new { id = item.idProduto }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idProduto })
            </td>
        </tr>
    }

</table>
