@model Cantina_agil.Models.Transacao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Transação</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dd>
            <label>Valor da Transação : </label>  @Html.DisplayFor(model => model.valorTransacao)
        </dd>

        <dd>
            <label>Data da Transação: </label>  @Html.DisplayFor(model => model.dataTransacao)
        </dd>

        <dd>
            <label>Pago: </label>  @Html.DisplayFor(model => model.pago)
        </dd>

        <dd>
            <label>Data do Pagamento: </label>  @Html.DisplayFor(model => model.dataPagamento)
        </dd>

        <dd>
            <label>Nome do Cliente: </label> @Html.DisplayFor(model => model.Cliente.nomeCliente)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-primary" data-toggle="button" >
        @Html.ActionLink("Editar", "Edit", new { id = Model.idTransacao })
    </button>
    <button type="button" class="btn btn-primary" data-toggle="button" >
        @Html.ActionLink("Voltar para Lista", "Index")
    </button>
</p>
