@model IEnumerable<Cantina_agil.Models.Transacao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vendas</h2>

<p>
    <a href=@Url.Action("Create","Vendas") class="btn btn-primary" data-toggle="button">
        Criar um Novo
    </a>
</p>
<table class="table table-striped" >
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.valorTransacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataTransacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.nomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntradaSaida.idEntradaSaida)
            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.valorTransacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataTransacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.nomeCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntradaSaida.idEntradaSaida)
                </td>
                <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <a type="button" data-toggle="button" class="btn btn-primary" autocomplete="off" href=@Url.Action("Edit", "Vendas", new { id = item.idTransacao })>
                            Editar
                        </a>
                        <a type="button" data-toggle="button" class="btn btn-primary" autocomplete="off" href=@Url.Action("Details", "Vendas", new { id = item.idTransacao })>
                            Detalhes
                        </a>
                        <a type="button" data-toggle="button" class="btn btn-primary" autocomplete="off" href=@Url.Action("Delete", "Vendas", new { id = item.idTransacao })>
                            Deletar
                        </a>
                    </div>
                </td>
            </tr>
        }

</table>
