@model IEnumerable<Cantina_agil.Models.Produto>
@{
    ViewBag.Title = "Pdv";
    Layout = "~/Views/Shared/_LayoutVenda.cshtml";
}


<div class="align-self-center">
    <div class="container margin-top-mob-10px">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Código</span>
            </div>
            <label>Codigo</label>
            <input id="cpCodigo" onkeyup="PressKeyCpCodigo();" type="text" aria-label="First name" class="form-control">
            <input id="cpQuant" onkeyup="PressKeyCpQuant();" type="text" aria-label="Last name" class="form-control">
        </div>
        <div class="voltar">
            <a class="btn btn-primary" href=@Url.Action("Index", "Menu")>
               <span class="input-group-text">Voltar</span>
               </a>
            <a class="btn btn-primary" href="#" onclick="addProduto();">
                <span class="input-group-text">Confirmar</span>
            </a>
            </div>
               </div>
                <div class="col-xs-12 col-md-6">

                    <div class="container-venda height-675px-mob" >



                        <input data-val="true" data-val-number="The field NotaFiscalConsumidorId must be a number." data-val-required="The NotaFiscalConsumidorId field is required." id="NotaFiscalConsumidorId" name="NotaFiscalConsumidorId" type="hidden" value="230581" />

                        <div class="container-venda-lista">
                            <table class="table">
                                        <tr>
                                            <th>
                                                <label class="label-control">Código</label>
                                            </th>
                                            <th>
                                                <label class="label-control">Nome</label>
                                            </th>
                                            <th>
                                                <label class="label-control">Valor</label>
                                            </th>
                                            <th>
                                                <label class="label-control">Quantidade</label>
                                            </th>
                                        </tr>
                                    <tbody id="areaLancamentos" class="campodeprodutos">


                                        <div class="campodecompra">

                                            <h2 id="ValorTotal">Preço Total: 0,00</h2>

                                        </div>
                                    </tbody>
                                </table>
                        </div>


                                <div class="container-venda-acoes">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <a href="@Url.Action("CancelarVenda","Venda")" id="btnLimpar" class="btn btn-danger btn-lg font-size-13px-mob">Cancelar</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="@Url.Action("FinalizarVenda","Venda")" id="btnPagamento" class="btn btn-success btn-lg  font-size-13px-mob"> Pagamento</a>
                                        </div>
                                    </div>
                                </div>
                        <a href="@Url.Action("Index","Menu")">
                            <input type="button" class="btn btn-lg font-size-13px-mob" value="Voltar Menu" />
                        </a>

                            </div>

                        </div>
        </div>

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseProdutos" aria-expanded="false" aria-controls="collapseExample">
        Lista Produtos
    </button>
</p>
<div class="collapse" id="collapseProdutos">
    <table class="table">
        <tr>
            <th>
                <label class="label-control">Código</label>
            </th>
            <th>
                <label class="label-control">Nome</label>
            </th>
            <th>
                <label class="label-control">Valor</label>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valor)
                </td>
            </tr>
        }
        </table>
</div>
          