@model IEnumerable<Cantina_agil.Models.Sangria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.abertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorSangria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativoSangria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atendente.nomeAtendente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.abertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorSangria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ativoSangria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Atendente.nomeAtendente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idSangria }) |
            @Html.ActionLink("Details", "Details", new { id=item.idSangria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idSangria })
        </td>
    </tr>
}

</table>
