@model Cantina_agil.Models.Cliente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>


<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
          <label> Nome:</label>  @Html.DisplayFor(model => model.nomeCliente)
        </dd>
        <hr />
        <dd>
            <label> Relação:</label>  @Html.DisplayFor(model => model.relacaoSenai)
        </dd>
        <hr />
        <dd>
            <label> E-mail:</label> @Html.DisplayFor(model => model.emailCliente)
        </dd>
        <hr />
        <dd>
            <label> Telefone:</label>   @Html.DisplayFor(model => model.foneCliente)
        </dd>
        <hr />
        <dd>
            <label> Celular:</label>   @Html.DisplayFor(model => model.celularCliente)
        </dd>
        <hr />
        <dd>
            <label> RG:</label> @Html.DisplayFor(model => model.rgCliente)
        </dd>
        <hr />
        <dd>
            <label> CPF:</label> @Html.DisplayFor(model => model.cpfCliente)
        </dd>
        <hr />
        <dd>
            <label> Observação:</label> @Html.DisplayFor(model => model.obsCliente)
        </dd>
        <hr />
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <h3>Tem Certeza que deseja deletar?</h3>
        <div class="form-actions no-color">
            <input type="submit" value="Deletar " class="btn btn-primary" />
            <a href=@Url.Action("Index","Clientes") class="btn btn-primary" data-toggle="button">
                Voltar para Lista
            </a> 
        </div>
        
    }
</div>
