@model Cantina_agil.Models.Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <label> Nome:</label>   @Html.DisplayFor(model => model.nomeCliente)
        </dd>
        <hr />
        <dd>
            <label> Relação:</label>   @Html.DisplayFor(model => model.relacaoSenai)
        </dd>
        <hr />

        <dd>
            <label> E-mail:</label>  @Html.DisplayFor(model => model.emailCliente)
        </dd>
        <hr />

        <dd>
            <label> Telefone:</label>   @Html.DisplayFor(model => model.foneCliente)
        </dd>
        <hr />

        <dd>
            <label> Celular:</label>  @Html.DisplayFor(model => model.celularCliente)
        </dd>
        <hr />

        <dd>
            <label> RG:</label>   @Html.DisplayFor(model => model.rgCliente)
        </dd>
        <hr />

        <dd>
            <label> CPF:</label>   @Html.DisplayFor(model => model.cpfCliente)
        </dd>
        <hr />

        <dd>
            <label> Observação:</label>   @Html.DisplayFor(model => model.obsCliente)
        </dd>
        <hr />

    </dl>
</div>
<p>
    <a href=@Url.Action("Edit","Clientes" , new { id = Model.idCliente }) class="btn btn-primary" data-toggle="button" >
        Editar
    </a>
    <a href=@Url.Action("Index","Clientes") class="btn btn-primary" data-toggle="button">
        Voltar para Lista
    </a> 
</p>
