@model Cantina_agil.Models.Cliente

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Clientes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idCliente)

        <div class="form-group">
           <label>Nome</label>
                @Html.EditorFor(model => model.nomeCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomeCliente, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Relação</label>           
                @Html.EditorFor(model => model.relacaoSenai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.relacaoSenai, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>E-mail</label>           
                @Html.EditorFor(model => model.emailCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.emailCliente, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            <label>Telefone</label>           
                @Html.EditorFor(model => model.foneCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.foneCliente, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            <label>Celular</label>           
                @Html.EditorFor(model => model.celularCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.celularCliente, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>RG</label>           
                @Html.EditorFor(model => model.rgCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rgCliente, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>CPF</label>           
                @Html.EditorFor(model => model.cpfCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cpfCliente, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
            <label>Observação</label>           
                @Html.EditorFor(model => model.obsCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.obsCliente, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href=@Url.Action("Index","Clientes") class="btn btn-primary" data-toggle="button">
                    Voltar para Lista
                </a> 
            </div>
        </div>
    </div>
}
