@model IEnumerable<Cantina_agil.Models.Estoque>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.nomeProduto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.nomeProduto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEstoque }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEstoque }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEstoque })
        </td>
    </tr>
}

</table>
